.skills-scroll {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin:10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}

.skills-scroll-inner {
  display: inline-flex;
  animation: scroll 34s linear infinite;
}

.skillsDiv {
  display: inline-block;
  margin-right: 20px;
  text-align: center;

}
.skillsDiv2{
  display: flex;
  margin: 10px;
  align-items: center;
}

.icon {
  height: 60px;
  width: 60px;
  padding: 10px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.icon2 {
  height: 60px;
  display: flex;
  width: 60px;
  padding: 10px;
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: grayscale(0%);
}

/* Keyframes for smooth, infinite scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
